.forgotPasswordContainer{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
}

.forgotPasswordHeading {
    text-align: center;
    color: rgba(0, 0, 0, 0.664);
    font: 400 16px 'Roboto', sans-serif;
    padding: 1.3vmax;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    width: 60%;
    margin: auto;
}

.forgotPasswordBox{
    background-color: white;
    width: 360px;
    height: 200px;
    box-sizing: border-box;
    overflow: hidden;
}

.forgotPasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    height: 70%;
    transition: all 0.5s;
}

.forgotPasswordForm > div {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 2vmax;
}

.forgotPasswordForm > div > input {
    padding: 10px 40px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0,0, 0.267);
    border-radius: 4px;
    font: 300 14px 'Roboto', sans-serif;
    outline: none;
}

.forgotPasswordForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vamx;
    color: rgba(0, 0,0, 0.678);
}

.forgotPasswordBtn {
    border: none;
    background-color: tomato;
    color: white;
    font: 300 16px 'Roboto', sans-serif;
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgb(0 0 0 / 22%);
    margin-top: 2vmax;
}

@media screen and (max-width: 600px) {
    .forgotPasswordForm{
        padding: 5vmax;
    }
    .forgotPasswordForm > div > input {
        padding: 2.5vmax 5vmax;
        font: 300 1.7vmax 'Roboto', sans-serif;
    }
    .forgotPasswordForm > div > svg {
        font-size: 2.8vmax;
    }
}