.listBlogContainer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.listBlogContainer h1 {
    color: rgba(0, 0, 0, 0.733);
    font-weight: 300;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

.listBlogContainer .add-blog {
    width: 100%;
    text-align: right;
}