.userListContainer {
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.userListHeading {
    font-weight: 400;
    font-size: 2rem;
    padding: 2rem;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.637);
    transition: all 0.5s;
    margin: 2rem;
    text-align: center;
}

.userListTable {
    background-color: white;
    border: none;
}

.userListTable div {
    font-weight: 300;
    font-size: 1rem;
    border: none !important;
}

.userListTable a {
    color: rgba(0, 0, 0, 0.527);
    transition: all 0.5s;
}

.userListTable a:hover, 
.userListTable button:hover {
    color: tomato;
}

.MuiDataGrid-columnHeader div {
    color: white;
}