.attributeListContainer {
    width: 100%;
    box-sizing: border-box;
}

.attributeListContainer h1 {
    color: rgba(0, 0, 0, 0.733);
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
}