.formContentContainer > div.attributeOptionContainer {
    display: flex;
    flex-direction: column;
}
.formContentContainer > div.attributeOptionContainer > .optionGroup {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.formContentContainer > div.attributeOptionContainer  > .optionGroup > .field {
    display: flex;
    align-items: center;
}
.formContentContainer > div.attributeOptionContainer  > .optionGroup > .field > .delete{
    background: transparent;
    border: none;
}
.formContentContainer > div.attributeOptionContainer  > .optionGroup > .field > .delete:hover > svg{
    color: red;
}